body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 63px;
    height: 63px;
}
